<div class="container-sm bg-light splashpage">
  <p class="text-center">
    Welcome to FriendlyQuotes! This is a site hosted
    by Madeline for her friends to share quotes of each other.
  </p>
</div>
